myenv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.VSCodeCounter/
test_v2.db
app_v1/
app_v2/
AMS_db_v1.1.txt
AMS_db_v1.2.txt
AMS_db.jpeg
ChartDB(AMS_db) _v1.1.json
ChartDB(AMS_db).json
sqlit.txt
.env